*{
    margin:0;
    padding:0;
}
.chat{
    height:80px;
    margin-left:700px;
}
/* body{
    background-image:linear-gradient(rgb(255,255,255), purple);   
} */
.container{
    max-width:955px;
    background-color: red;
    margin:auto;
    height:60vh;
}
.message{
    background-color:grey;
    width: 24%;
    padding:10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius: 10px;
}
.left{
    float:left;
    clear:both;

}
.right{
    float:right;
    clear:both;
}